In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [5]:
file = r'C:\Users\SGushue\OneDrive - City of Mesa\Operations_Research_Analyst\Residential_Foreman_Daily\cleaned\Residential_2018-04-23.csv'
'''creates variable of cleaned excel csv file from previous residential_daily_foreman python script'''

In [6]:
df = pd.read_csv(file, parse_dates=[1])
'''loads csv file into pandas dataframe'''

In [7]:
df.head()

,Column1,DATE,START_LOAD,TRUCK,ROUTE,DISCARD,OPERATOR,TIME_IN,END_ROUTE,HELP_1,HELP_2,HELP_3,DOWN,TIME_OUT,END_LOAD,LOB,DAY
0,1,2018-04-16,RF,5040,B66,NaN,"SALCIDO, Z. R",5:30:00,14:52:00,NaN,NaN,NaN,NaN,16:00:00,E,RESIDENTIAL,Monday
1,2,2018-04-16,G3/4,5145,B67,NaN,"BURLESON, R. B",5:30:00,13:15:00,Z DUMP,B69,NaN,NaN,15:55:00,E,RESIDENTIAL,Monday
2,3,2018-04-16,E,5148,B68,NaN,"QUINONEZ, R. B",5:30:00,14:00:00,B66,NaN,NaN,NaN,16:14:00,E,RESIDENTIAL,Monday
3,4,2018-04-16,R1/2,1146,B69,NaN,WOODS / JOHNSON,5:30:00,15:12:00,DISP,NaN,NaN,NaN,15:55:00,R3/4,RESIDENTIAL,Monday
4,5,2018-04-16,NaN,NaN,B70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESIDENTIAL,Monday

In [28]:
df['NEW_ROUTE']=''
'''adds new column in dataframe to add day designation letter to front of route'''

In [33]:
df.loc[df['DAY']=='Monday', "NEW_ROUTE"] = 'M' + df['ROUTE']
df.loc[df['DAY']=='Tuesday', "NEW_ROUTE"] = 'T' + df['ROUTE']
df.loc[df['DAY']=='Wednesday', "NEW_ROUTE"] = 'W' + df['ROUTE']
df.loc[df['DAY']=='Thursday', "NEW_ROUTE"] = 'H' + df['ROUTE']
df.loc[df['DAY']=='Friday', "NEW_ROUTE"] = 'F' + df['ROUTE']
df.loc[df['DAY']=='Saturday', "NEW_ROUTE"] = 'S' + df['ROUTE']

In [36]:
df

,Column1,DATE,START_LOAD,TRUCK,ROUTE,DISCARD,OPERATOR,TIME_IN,END_ROUTE,HELP_1,HELP_2,HELP_3,DOWN,TIME_OUT,END_LOAD,LOB,DAY,NEW_ROUTE,NEW_TOUTE
0,1,2018-04-16,RF,5040,B66,NaN,"SALCIDO, Z. R",5:30:00,14:52:00,NaN,NaN,NaN,NaN,16:00:00,E,RESIDENTIAL,Monday,MB66,MB66
1,2,2018-04-16,G3/4,5145,B67,NaN,"BURLESON, R. B",5:30:00,13:15:00,Z DUMP,B69,NaN,NaN,15:55:00,E,RESIDENTIAL,Monday,MB67,MB67
2,3,2018-04-16,E,5148,B68,NaN,"QUINONEZ, R. B",5:30:00,14:00:00,B66,NaN,NaN,NaN,16:14:00,E,RESIDENTIAL,Monday,MB68,MB68
3,4,2018-04-16,R1/2,1146,B69,NaN,WOODS / JOHNSON,5:30:00,15:12:00,DISP,NaN,NaN,NaN,15:55:00,R3/4,RESIDENTIAL,Monday,MB69,MB69
4,5,2018-04-16,NaN,NaN,B70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESIDENTIAL,Monday,MB70,MB70
5,6,2018-04-16,RF,1197,B71,NaN,"STAHL, N. B",5:30:00,14:55:00,Z DUMP,NaN,NaN,NaN,16:14:00,E,RESIDENTIAL,Monday,MB71,MB71
6,7,2018-04-16,E,5150,B72,NaN,"PADILLA, D. C",5:30:00,15:05:00,NaN,NaN,NaN,NaN,15:50:00,RF,RESIDENTIAL,Monday,MB72,MB72
7,8,2018-04-16,E,5037,B73,NaN,"LAWRENCE, B. B",5:30:00,14:58:00,B66,NaN,NaN,NaN,16:00:00,E,RESIDENTIAL,Monday,MB73,MB73
8,9,2018-04-16,RF,1764,B74,NaN,"DESSILLIER, J. A",5:30:00,14:35:00,NaN,NaN,NaN,YES,16:25:00,R1/2,RESIDENTIAL,Monday,MB74,MB74
9,10,2018-04-16,RF,1762,B75,NaN,"BIETZ, M. B",5:30:00,15:06:00,NaN,NaN,NaN,NaN,15:50:00,R-19,RESIDENTIAL,Monday,MB75,MB75
10,11,2018-04-16,R1/4,1187,B76,NaN,"BERTRAND, T. R4",5:30:00,14:45:00,NaN,NaN,NaN,NaN,15:55:00,R1/4,RESIDENTIAL,Monday,MB76,MB76
11,12,2018-04-16,RF,1771,B77,NaN,"DAVIS, Y. B",5:30:00,14:35:00,B74,NaN,NaN,NaN,16:26:00,RF,RESIDENTIAL,Monday,MB77,MB77
12,13,2018-04-16,R3/4,1136,B78,NaN,"CHIQUETE, S. T",5:30:00,15:20:00,NaN,NaN,NaN,NaN,16:00:00,RF,RESIDENTIAL,Monday,MB78,MB78
13,14,2018-04-16,R1/4,5036,B79,NaN,"SCHOOLCRAFT, S",5:30:00,13:40:00,B93,NaN,NaN,NaN,16:45:00,B1/4,RESIDENTIAL,Monday,MB79,MB79
14,15,2018-04-16,E,5042,B80,NaN,"RITCHEY, R. B",5:30:00,13:40:00,B78,NaN,NaN,NaN,15:38:00,E,RESIDENTIAL,Monday,MB80,MB80
15,16,2018-04-16,R1/2,5149,G91,NaN,"ALICEA, B. B",5:30:00,13:30:00,ZDUMP,G94,DISP,NaN,15:45:00,G1/4,RESIDENTIAL,Monday,MG91,MG91
16,17,2018-04-16,G1/8,1130,G92,NaN,"ADAMS, R. C",5:30:00,13:41:00,NaN,NaN,NaN,YES,15:23:00,E,RESIDENTIAL,Monday,MG92,MG92
17,18,2018-04-16,GF,1759,G93,NaN,"SAAVEDRA, F. B",5:30:00,13:16:00,NaN,NaN,NaN,YES,16:35:00,E,RESIDENTIAL,Monday,MG93,MG93
18,19,2018-04-16,E,1131,G94,NaN,"CONOVER, C. C",5:30:00,14:50:00,NaN,NaN,NaN,NaN,15:47:00,E,RESIDENTIAL,Monday,MG94,MG94
19,20,2018-04-16,R3/4,1766,T01,R,"FORBIS,M. B",5:30:00,14:43:00,NaN,NaN,NaN,NaN,15:30:00,T1/4,RESIDENTIAL,Monday,MT01,MT01
20,21,2018-04-16,E,1772,T02,R,"BLANCO, R. C",5:30:00,15:23:00,NaN,NaN,NaN,NaN,16:06:00,T1/4,RESIDENTIAL,Monday,MT02,MT02
21,22,2018-04-16,T1/2,HH1169,T03,R,"GOMEZ, D. A",5:30:00,13:25:00,NaN,NaN,NaN,NaN,15:23:00,E,RESIDENTIAL,Monday,MT03,MT03
22,23,2018-04-16,E,1752,T04,R,"PRODANOVIC, L. C",5:30:00,14:50:00,NaN,NaN,NaN,NaN,15:45:00,T1/3,RESIDENTIAL,Monday,MT04,MT04
23,24,2018-04-16,E,5045,T05,R,"MAIN, D. C",5:30:00,15:00:00,NaN,NaN,NaN,NaN,15:33:00,E,RESIDENTIAL,Monday,MT05,MT05
24,25,2018-04-16,E,5146,T06,R,"QUINTERO, J. C",5:30:00,14:20:00,T5,NaN,NaN,NaN,15:53:00,T1/2,RESIDENTIAL,Monday,MT06,MT06
25,26,2018-04-16,T1/4,1756,T07,R,"MCKINNEY, R. RC",5:30:00,13:51:00,T5,NaN,NaN,NaN,15:23:00,E,RESIDENTIAL,Monday,MT07,MT07
26,27,2018-04-16,E,1188,T08,NaN,"TORRES, S. C",5:30:00,14:39:00,NaN,NaN,NaN,NaN,15:30:00,T3/4,RESIDENTIAL,Monday,MT08,MT08
27,28,2018-04-16,E,5043,T09,NaN,"SIECKMANN, S. C",5:30:00,14:25:00,T14,NaN,NaN,NaN,15:40:00,T1/2,RESIDENTIAL,Monday,MT09,MT09
28,29,2018-04-16,T1/4,5151,T10,R,"TISCHER, T. C",5:30:00,13:00:00,T3,T4,NaN,NaN,15:40:00,E,RESIDENTIAL,Monday,MT10,MT10
29,30,2018-04-16,E,1194,T11,NaN,"HERNANDEZ, M. B",5:30:00,14:45:00,NaN,NaN,NaN,NaN,15:45:00,T1/2,RESIDENTIAL,Monday,MT11,MT11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7474,7475,2017-09-09,E,1194,B57,NaN,"BAISA, R. A",5:30:00,2:44:00,B51,NaN,NaN,NaN,3:34:00,R3/4,RESIDENTIAL,Saturday,SB57,NaN
7475,7476,2017-09-09,E,1751,B58,NaN,"ROHR, D. A",5:30:00,2:38:00,NaN,NaN,NaN,NaN,3:43:00,E,RESIDENTIAL,Saturday,SB58,NaN
7476,7477,2017-09-09,E,1770,B59,NaN,"DESSILLIER, J. RA",5:30:00,2:25:00,NaN,NaN,NaN,NaN,3:36:00,E,RESIDENTIAL,Saturday,SB59,NaN
7477,7478,2017-09-09,R3/4,1771,B60,NaN,"ZACHMAN, D. RA",5:30:00,2:30:00,NaN,NaN,NaN,NaN,3:39:00,E,RESIDENTIAL,Saturday,SB60,NaN
7478,7479,2017-09-09,E,1197,B61,NaN,"LARSEN, K. A",5:30:00,9:50:00,B60,B52,B53,NaN,3:30:00,E,RESIDENTIAL,Saturday,SB61,NaN
7479,7480,2017-09-09,E,1766,B62,R,"CHAIRA, R. A",5:30:00,2:55:00,NaN,NaN,NaN,NaN,3:25:00,RF,RESIDENTIAL,Saturday,SB62,NaN
7480,7481,2017-09-09,G1/8,5147,G81,NaN,"MANSHAEM, R. A",5:30:00,2:45:00,NaN,NaN,NaN,YES,3:23:00,G1/2,RESIDENTIAL,Saturday,SG81,NaN
7481,7482,2017-09-09,E,1768,G82,K,"ADAMS, R. C",5:30:00,1:52:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,SG82,NaN
7482,7483,2017-09-09,E,5042,G83,NaN,"MONTIJO, F. C",5:30:00,1:50:00,NaN,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,SG83,NaN
7483,7484,2017-09-09,E,1765,G84,NaN,"MONTANO, R. A",5:30:00,1:45:00,NaN,NaN,NaN,NaN,2:30:00,G1/4,RESIDENTIAL,Saturday,SG84,NaN
7484,7485,2017-09-09,E,1136,G85,NaN,"ALICEA, B. C",5:30:00,1:30:00,G81,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,SG85,NaN
7485,7486,2017-09-09,E,1171,G86,NaN,"QUINTERO, J. C",5:30:00,12:20:00,NaN,NaN,NaN,NaN,1:30:00,G1/3,RESIDENTIAL,Saturday,SG86,NaN
7486,7487,2017-09-09,E,5043,T26,NaN,"SIECKMANN, S. C",5:30:00,2:15:00,NaN,NaN,NaN,NaN,3:25:00,T1/4,RESIDENTIAL,Saturday,ST26,NaN
7487,7488,2017-09-09,E,1196,T27,NaN,"HERNANDEZ, I. A",5:30:00,2:25:00,NaN,NaN,NaN,NaN,3:24:00,T3/4,RESIDENTIAL,Saturday,ST27,NaN
7488,7489,2017-09-09,E,1193,T28,NaN,"TORRES, S. C",5:30:00,11:59:00,T34,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST28,NaN
7489,7490,2017-09-09,T1/3,1752,T29,NaN,"PRODONOVIC, L. C",5:30:00,1:21:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST29,NaN
7490,7491,2017-09-09,E,1131,T30,NaN,"CONOVER, C. C",5:30:00,12:30:00,T29,NaN,NaN,NaN,3:30:00,T1/8,RESIDENTIAL,Saturday,ST30,NaN
7491,7492,2017-09-09,E,1759,T31,NaN,"TISCHER, T. A",5:30:00,1:20:00,NaN,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,ST31,NaN
7492,7493,2017-09-09,E,5040,T32,NaN,"HAINES, T. A",5:30:00,1:55:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST32,NaN
7493,7494,2017-09-09,T1/4,1188,T33,NaN,"REILLY, B. C",5:30:00,2:10:00,NaN,NaN,NaN,NaN,3:23:00,T3/4,RESIDENTIAL,Saturday,ST33,NaN
7494,7495,2017-09-09,E,1754,T34,NaN,"GAPP, L. C",5:30:00,12:55:00,T40,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,ST34,NaN
7495,7496,2017-09-09,E,1750,T35,NaN,"ZIES, D. C",5:30:00,11:55:00,T36,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST35,NaN
7496,7497,2017-09-09,T1/8,1191,T36,NaN,"KRAUSE, R. C",5:30:00,2:05:00,NaN,NaN,NaN,NaN,3:30:00,T1/4,RESIDENTIAL,Saturday,ST36,NaN
7497,7498,2017-09-09,E,1168,T37,NaN,"VIAR, G. C",5:30:00,1:05:00,NaN,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,ST37,NaN
7498,7499,2017-09-09,E,5035,T38,NaN,"FAIRBANKS, W. C",5:30:00,2:07:00,NaN,NaN,NaN,NaN,3:30:00,T1/8,RESIDENTIAL,Saturday,ST38,NaN
7499,7500,2017-09-09,E,1761,T39,NaN,"KONERZA, B. C",5:30:00,1:55:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST39,NaN
7500,7501,2017-09-09,E,1772,T40,NaN,"BLANCO, R. C",5:30:00,1:58:00,NaN,NaN,NaN,NaN,3:24:00,E,RESIDENTIAL,Saturday,ST40,NaN
7501,7502,2017-09-09,E,1773,T41,NaN,"ZAVALA, H. C",5:30:00,2:00:00,NaN,NaN,NaN,NaN,3:25:00,E,RESIDENTIAL,Saturday,ST41,NaN
7502,7503,2017-09-09,E,5036,T42,NaN,"MAIN, D. C",5:30:00,2:30:00,NaN,NaN,NaN,NaN,3:43:00,E,RESIDENTIAL,Saturday,ST42,NaN
7503,7504,2017-09-09,E,1767,T43,NaN,"MCKINNEY, R. R3",5:30:00,2:10:00,NaN,NaN,NaN,NaN,3:30:00,T1/4,RESIDENTIAL,Saturday,ST43,NaN

In [38]:
df.drop(columns=['DISCARD', 'NEW_TOUTE'])
'''drops unused fields'''

,Column1,DATE,START_LOAD,TRUCK,ROUTE,OPERATOR,TIME_IN,END_ROUTE,HELP_1,HELP_2,HELP_3,DOWN,TIME_OUT,END_LOAD,LOB,DAY,NEW_ROUTE
0,1,2018-04-16,RF,5040,B66,"SALCIDO, Z. R",5:30:00,14:52:00,NaN,NaN,NaN,NaN,16:00:00,E,RESIDENTIAL,Monday,MB66
1,2,2018-04-16,G3/4,5145,B67,"BURLESON, R. B",5:30:00,13:15:00,Z DUMP,B69,NaN,NaN,15:55:00,E,RESIDENTIAL,Monday,MB67
2,3,2018-04-16,E,5148,B68,"QUINONEZ, R. B",5:30:00,14:00:00,B66,NaN,NaN,NaN,16:14:00,E,RESIDENTIAL,Monday,MB68
3,4,2018-04-16,R1/2,1146,B69,WOODS / JOHNSON,5:30:00,15:12:00,DISP,NaN,NaN,NaN,15:55:00,R3/4,RESIDENTIAL,Monday,MB69
4,5,2018-04-16,NaN,NaN,B70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RESIDENTIAL,Monday,MB70
5,6,2018-04-16,RF,1197,B71,"STAHL, N. B",5:30:00,14:55:00,Z DUMP,NaN,NaN,NaN,16:14:00,E,RESIDENTIAL,Monday,MB71
6,7,2018-04-16,E,5150,B72,"PADILLA, D. C",5:30:00,15:05:00,NaN,NaN,NaN,NaN,15:50:00,RF,RESIDENTIAL,Monday,MB72
7,8,2018-04-16,E,5037,B73,"LAWRENCE, B. B",5:30:00,14:58:00,B66,NaN,NaN,NaN,16:00:00,E,RESIDENTIAL,Monday,MB73
8,9,2018-04-16,RF,1764,B74,"DESSILLIER, J. A",5:30:00,14:35:00,NaN,NaN,NaN,YES,16:25:00,R1/2,RESIDENTIAL,Monday,MB74
9,10,2018-04-16,RF,1762,B75,"BIETZ, M. B",5:30:00,15:06:00,NaN,NaN,NaN,NaN,15:50:00,R-19,RESIDENTIAL,Monday,MB75
10,11,2018-04-16,R1/4,1187,B76,"BERTRAND, T. R4",5:30:00,14:45:00,NaN,NaN,NaN,NaN,15:55:00,R1/4,RESIDENTIAL,Monday,MB76
11,12,2018-04-16,RF,1771,B77,"DAVIS, Y. B",5:30:00,14:35:00,B74,NaN,NaN,NaN,16:26:00,RF,RESIDENTIAL,Monday,MB77
12,13,2018-04-16,R3/4,1136,B78,"CHIQUETE, S. T",5:30:00,15:20:00,NaN,NaN,NaN,NaN,16:00:00,RF,RESIDENTIAL,Monday,MB78
13,14,2018-04-16,R1/4,5036,B79,"SCHOOLCRAFT, S",5:30:00,13:40:00,B93,NaN,NaN,NaN,16:45:00,B1/4,RESIDENTIAL,Monday,MB79
14,15,2018-04-16,E,5042,B80,"RITCHEY, R. B",5:30:00,13:40:00,B78,NaN,NaN,NaN,15:38:00,E,RESIDENTIAL,Monday,MB80
15,16,2018-04-16,R1/2,5149,G91,"ALICEA, B. B",5:30:00,13:30:00,ZDUMP,G94,DISP,NaN,15:45:00,G1/4,RESIDENTIAL,Monday,MG91
16,17,2018-04-16,G1/8,1130,G92,"ADAMS, R. C",5:30:00,13:41:00,NaN,NaN,NaN,YES,15:23:00,E,RESIDENTIAL,Monday,MG92
17,18,2018-04-16,GF,1759,G93,"SAAVEDRA, F. B",5:30:00,13:16:00,NaN,NaN,NaN,YES,16:35:00,E,RESIDENTIAL,Monday,MG93
18,19,2018-04-16,E,1131,G94,"CONOVER, C. C",5:30:00,14:50:00,NaN,NaN,NaN,NaN,15:47:00,E,RESIDENTIAL,Monday,MG94
19,20,2018-04-16,R3/4,1766,T01,"FORBIS,M. B",5:30:00,14:43:00,NaN,NaN,NaN,NaN,15:30:00,T1/4,RESIDENTIAL,Monday,MT01
20,21,2018-04-16,E,1772,T02,"BLANCO, R. C",5:30:00,15:23:00,NaN,NaN,NaN,NaN,16:06:00,T1/4,RESIDENTIAL,Monday,MT02
21,22,2018-04-16,T1/2,HH1169,T03,"GOMEZ, D. A",5:30:00,13:25:00,NaN,NaN,NaN,NaN,15:23:00,E,RESIDENTIAL,Monday,MT03
22,23,2018-04-16,E,1752,T04,"PRODANOVIC, L. C",5:30:00,14:50:00,NaN,NaN,NaN,NaN,15:45:00,T1/3,RESIDENTIAL,Monday,MT04
23,24,2018-04-16,E,5045,T05,"MAIN, D. C",5:30:00,15:00:00,NaN,NaN,NaN,NaN,15:33:00,E,RESIDENTIAL,Monday,MT05
24,25,2018-04-16,E,5146,T06,"QUINTERO, J. C",5:30:00,14:20:00,T5,NaN,NaN,NaN,15:53:00,T1/2,RESIDENTIAL,Monday,MT06
25,26,2018-04-16,T1/4,1756,T07,"MCKINNEY, R. RC",5:30:00,13:51:00,T5,NaN,NaN,NaN,15:23:00,E,RESIDENTIAL,Monday,MT07
26,27,2018-04-16,E,1188,T08,"TORRES, S. C",5:30:00,14:39:00,NaN,NaN,NaN,NaN,15:30:00,T3/4,RESIDENTIAL,Monday,MT08
27,28,2018-04-16,E,5043,T09,"SIECKMANN, S. C",5:30:00,14:25:00,T14,NaN,NaN,NaN,15:40:00,T1/2,RESIDENTIAL,Monday,MT09
28,29,2018-04-16,T1/4,5151,T10,"TISCHER, T. C",5:30:00,13:00:00,T3,T4,NaN,NaN,15:40:00,E,RESIDENTIAL,Monday,MT10
29,30,2018-04-16,E,1194,T11,"HERNANDEZ, M. B",5:30:00,14:45:00,NaN,NaN,NaN,NaN,15:45:00,T1/2,RESIDENTIAL,Monday,MT11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7474,7475,2017-09-09,E,1194,B57,"BAISA, R. A",5:30:00,2:44:00,B51,NaN,NaN,NaN,3:34:00,R3/4,RESIDENTIAL,Saturday,SB57
7475,7476,2017-09-09,E,1751,B58,"ROHR, D. A",5:30:00,2:38:00,NaN,NaN,NaN,NaN,3:43:00,E,RESIDENTIAL,Saturday,SB58
7476,7477,2017-09-09,E,1770,B59,"DESSILLIER, J. RA",5:30:00,2:25:00,NaN,NaN,NaN,NaN,3:36:00,E,RESIDENTIAL,Saturday,SB59
7477,7478,2017-09-09,R3/4,1771,B60,"ZACHMAN, D. RA",5:30:00,2:30:00,NaN,NaN,NaN,NaN,3:39:00,E,RESIDENTIAL,Saturday,SB60
7478,7479,2017-09-09,E,1197,B61,"LARSEN, K. A",5:30:00,9:50:00,B60,B52,B53,NaN,3:30:00,E,RESIDENTIAL,Saturday,SB61
7479,7480,2017-09-09,E,1766,B62,"CHAIRA, R. A",5:30:00,2:55:00,NaN,NaN,NaN,NaN,3:25:00,RF,RESIDENTIAL,Saturday,SB62
7480,7481,2017-09-09,G1/8,5147,G81,"MANSHAEM, R. A",5:30:00,2:45:00,NaN,NaN,NaN,YES,3:23:00,G1/2,RESIDENTIAL,Saturday,SG81
7481,7482,2017-09-09,E,1768,G82,"ADAMS, R. C",5:30:00,1:52:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,SG82
7482,7483,2017-09-09,E,5042,G83,"MONTIJO, F. C",5:30:00,1:50:00,NaN,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,SG83
7483,7484,2017-09-09,E,1765,G84,"MONTANO, R. A",5:30:00,1:45:00,NaN,NaN,NaN,NaN,2:30:00,G1/4,RESIDENTIAL,Saturday,SG84
7484,7485,2017-09-09,E,1136,G85,"ALICEA, B. C",5:30:00,1:30:00,G81,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,SG85
7485,7486,2017-09-09,E,1171,G86,"QUINTERO, J. C",5:30:00,12:20:00,NaN,NaN,NaN,NaN,1:30:00,G1/3,RESIDENTIAL,Saturday,SG86
7486,7487,2017-09-09,E,5043,T26,"SIECKMANN, S. C",5:30:00,2:15:00,NaN,NaN,NaN,NaN,3:25:00,T1/4,RESIDENTIAL,Saturday,ST26
7487,7488,2017-09-09,E,1196,T27,"HERNANDEZ, I. A",5:30:00,2:25:00,NaN,NaN,NaN,NaN,3:24:00,T3/4,RESIDENTIAL,Saturday,ST27
7488,7489,2017-09-09,E,1193,T28,"TORRES, S. C",5:30:00,11:59:00,T34,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST28
7489,7490,2017-09-09,T1/3,1752,T29,"PRODONOVIC, L. C",5:30:00,1:21:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST29
7490,7491,2017-09-09,E,1131,T30,"CONOVER, C. C",5:30:00,12:30:00,T29,NaN,NaN,NaN,3:30:00,T1/8,RESIDENTIAL,Saturday,ST30
7491,7492,2017-09-09,E,1759,T31,"TISCHER, T. A",5:30:00,1:20:00,NaN,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,ST31
7492,7493,2017-09-09,E,5040,T32,"HAINES, T. A",5:30:00,1:55:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST32
7493,7494,2017-09-09,T1/4,1188,T33,"REILLY, B. C",5:30:00,2:10:00,NaN,NaN,NaN,NaN,3:23:00,T3/4,RESIDENTIAL,Saturday,ST33
7494,7495,2017-09-09,E,1754,T34,"GAPP, L. C",5:30:00,12:55:00,T40,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,ST34
7495,7496,2017-09-09,E,1750,T35,"ZIES, D. C",5:30:00,11:55:00,T36,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST35
7496,7497,2017-09-09,T1/8,1191,T36,"KRAUSE, R. C",5:30:00,2:05:00,NaN,NaN,NaN,NaN,3:30:00,T1/4,RESIDENTIAL,Saturday,ST36
7497,7498,2017-09-09,E,1168,T37,"VIAR, G. C",5:30:00,1:05:00,NaN,NaN,NaN,NaN,3:30:00,E,RESIDENTIAL,Saturday,ST37
7498,7499,2017-09-09,E,5035,T38,"FAIRBANKS, W. C",5:30:00,2:07:00,NaN,NaN,NaN,NaN,3:30:00,T1/8,RESIDENTIAL,Saturday,ST38
7499,7500,2017-09-09,E,1761,T39,"KONERZA, B. C",5:30:00,1:55:00,NaN,NaN,NaN,NaN,3:23:00,E,RESIDENTIAL,Saturday,ST39
7500,7501,2017-09-09,E,1772,T40,"BLANCO, R. C",5:30:00,1:58:00,NaN,NaN,NaN,NaN,3:24:00,E,RESIDENTIAL,Saturday,ST40
7501,7502,2017-09-09,E,1773,T41,"ZAVALA, H. C",5:30:00,2:00:00,NaN,NaN,NaN,NaN,3:25:00,E,RESIDENTIAL,Saturday,ST41
7502,7503,2017-09-09,E,5036,T42,"MAIN, D. C",5:30:00,2:30:00,NaN,NaN,NaN,NaN,3:43:00,E,RESIDENTIAL,Saturday,ST42
7503,7504,2017-09-09,E,1767,T43,"MCKINNEY, R. R3",5:30:00,2:10:00,NaN,NaN,NaN,NaN,3:30:00,T1/4,RESIDENTIAL,Saturday,ST43

### Further cleaning and melting

Here is where the scripting gets interesting. The following cell block melts the wide format of the csv file with multiple HELP columns and creates new rows with the help route to each driver, for example:
    
        (AS IS)
        OPERATOR NAME     DATE      HELP ROUTE 1     HELP ROUTE 2
        STEVE GUSHUE      04/19/18  MB67             MB68
        
        (MELTED)
        OPERATOR NAME     DATE          VALUE (OF HELP ROUTE COLUMNS)
        STEVE GUSHUE      04/19/2018    MB67
        STEVE GUSHUE      04/19/2018    MB68

In [40]:
df2 = pd.DataFrame(pd.melt(df, id_vars=['DATE', 'OPERATOR', 'NEW_ROUTE', 'DAY'], value_vars=['HELP_1', 'HELP_2', 'HELP_3', 'DOWN']))

In [41]:
df2.head()

        DATE         OPERATOR NEW_ROUTE     DAY variable   value
0 2018-04-16   SALCIDO, Z.  R      MB66  Monday   HELP_1     NaN
1 2018-04-16   BURLESON, R. B      MB67  Monday   HELP_1  Z DUMP
2 2018-04-16   QUINONEZ, R. B      MB68  Monday   HELP_1     B66
3 2018-04-16  WOODS / JOHNSON      MB69  Monday   HELP_1    DISP
4 2018-04-16              NaN      MB70  Monday   HELP_1     NaN

In [44]:
df2['value'].value_counts()

YES                 399
ZDUMP               303
DISP                203
DSP                  91
B55                  69
B57                  68
T33                  66
T15                  60
B52                  60
G86                  60
T40                  57
T7                   56
G83                  54
T8                   53
B66                  53
B71                  51
T44                  50
T13                  48
T4                   46
T5                   45
B61                  44
B73                  44
T14                  42
T27                  42
B76                  41
B58                  40
T6                   40
Z DUMP               39
B75                  39
B53                  38
                   ...
CHD TO 1146R3/4       1
2:35:00               1
CHD TO 1753 E         1
37,41                 1
B65/56                1
5145                  1
CHD TO 1147 R1/2      1
CHD TO 1191T1/4       1
1103                  1
ST27                  1
12:59:00              1
5042 ZDMP             1
ZDUMP 1187            1
ZDUMP 1754E           1
1771                  1
CHD TO 5150GF         1
MT10                  1
FB52                  1
YOU TUBE              1
CHD TO1764E           1
CHD TO 1193 R1/2      1
CLEAN UP              1
Z DUMP 1146           1
CHD TO 1168G1/8       1
TRK 1130              1
T8/7                  1
EMPTY                 1
TRK 1146              1
53,59                 1
CHD TO 1171R3/4       1
Name: value, Length: 294, dtype: int64

In [48]:
df2.loc[df2['value']=='ZDUMP', "HELP"] = ''

In [49]:
df2.head()

        DATE         OPERATOR NEW_ROUTE     DAY variable   value HELP
0 2018-04-16   SALCIDO, Z.  R      MB66  Monday   HELP_1     NaN  NaN
1 2018-04-16   BURLESON, R. B      MB67  Monday   HELP_1  Z DUMP  NaN
2 2018-04-16   QUINONEZ, R. B      MB68  Monday   HELP_1     B66  NaN
3 2018-04-16  WOODS / JOHNSON      MB69  Monday   HELP_1    DISP  NaN
4 2018-04-16              NaN      MB70  Monday   HELP_1     NaN  NaN

In [50]:
df2.to_excel(r'C:\Users\SGushue\OneDrive - City of Mesa\Operations_Research_Analyst\Residential_Foreman_Daily\cleaned\dataframe.xlsx')